<h1>Spaces#index</h1> <%= link_to "Add a new space",new_space_path %>
<p>Find me in app/views/spaces/index.html.erb</p>


<ul>
    <% @spaces.each do |space| %>
      <li>
      <% if space.user_id == current_user.id %>
        <%= "Owned" %>
      <% end %>
      <%= link_to space.name, space_path(space) %>
      <% @bookings.each do |booking| %>
        <% if booking.space_id == space.id%>
          <%= "Booked" %>
        <% end %>
      <% end %>
      </li>
    <% end %>
</ul>
   



