<h1>Spaces#index</h1>
<p>Find me in app/views/spaces/index.html.erb</p>


<ul>
    <% @spaces.each do |space| %>
    <li><%= link_to space.name, space_path(space) %></li>
  <% end %>
</ul>





    <%#= link_to "Create #{@space.name}",
           # space_path(@space),
           # method: :create,
            #data: { confirm: "Do you want to create this space?" } %>


<%#= link_to "Delete #{@space.name}",
            space_path(@space),
            method: :delete,
            data: { confirm: "Are you sure?" } %>





