<h1>Bookings#index</h1>
<p>Find me in app/views/bookings/index.html.erb</p>

<ul>
<<% @bookings_user.each do |booking| %>>
<li><<%= booking.space %>>, reprise de la card de spaces #vivaClarisse</li>
<<% end %>>

</ul>